Repository l-zeuch/yagpdb.vim, pull requests merged in 2022-05, with the labels that each got.

#42 workflows: use GH-CLI to checkout and push to PR
  .github/workflows/generate.yml
Labels: type/enhancement, meta

#45 build: refactor: add make install and help target
  .github/workflows/ci.yml
  Makefile
  README.md
Labels: type/documentation, status/triage, meta

#44 refactor: optimise checks for global variables
  ftdetect/yagpdbcc.vim
  ftplugin/yagpdbcc/functions.vim
Labels: type/enhancement, area/ftdetect

#46 ftdetect: forcibly override existing `.tmpl` filetype
  ftdetect/yagpdbcc.vim
Labels: type/enhancement, area/ftdetect, editor/vim-neovim

#47 syntax: add new functions for yagpdb-v2.2.0
  lua/yagpdbcc.lua
  syntax/yagpdbcc/functions.vim
Labels: area/syntax, editor/vim-neovim
